
.player-container{
    width: 100%;
    height: 800px;
}

.video-player{
    width: 100%;
    height: 90%;
    background-color: #222222;

}


.media-controls{
   width: 100%;
}

img{
    width: 50px;

}

.buttons{
    margin: 0 auto;

}


.play, .mute, .volumeSlider{
    text-align: center;
}

.slider{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin: 20px 0;
    border: 1px solid gray;
    background-color: #222222;
}


.cursor{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #D1D1D1;
    transition: margin-left .1s linear;
}
